
<div fxLayout="column" fxLayoutAlign="space-around center">    
<mat-card  class="main-card">
<div>
<p i18n>Por favor llene los datos mostrados a continuación, intentaremos responder lo más rápido posible.</p>
<form [formGroup]="contactFormGroup" fxLayout="column" fxLayoutAlign="space-around center">  
<mat-form-field appearance="fill">  
    <mat-label i18n>Nombre</mat-label>
    <input matInput formControlName=name>
    <mat-error>{{getErrorMessage(contactFormGroup.controls.name)}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label i18n>Email</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="email" required>
    <mat-error>{{getErrorMessage(contactFormGroup.controls.email)}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label i18n>Mensaje</mat-label>
    <textarea matInput formControlName=message></textarea>
    <mat-error>{{getErrorMessage(contactFormGroup.controls.message)}}</mat-error>
  </mat-form-field>
</form>
</div>  
<div fxLayout="column" fxLayoutAlign="end end">
<button mat-raised-button color="primary" [disabled]="contactFormGroup.invalid || disableForm" (click)="makeQuery()">Enviar</button>
</div>
</mat-card>
</div>