
.item-div {
    margin-top: 5%;
    margin-left:5%;
    margin-right:5%;
}


.item-card {
    margin-top: 20px;
    margin-left:20px;
    max-width: 300px;
    max-height: 500px;
  }

.item-card-image {
    max-height: 300px;
    background-size: cover;
  }

.price{
    margin-left:5px;
    font-weight: bold;
    color: rgba(247, 197, 197, 0.87);
}