<header role="banner">
    <img id="logo-main" src="../../../../assets/imgs/logo.png" width="500" alt="Logo Thing main logo">
  <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbar-primary-collapse">
        <ul class="nav navbar-nav">
          <li><button routerLink='/' mat-button>Inicio</button></li>
          <li><button mat-button [matMenuTriggerFor]="menu">Categorías <mat-icon>arrow_drop_down</mat-icon></button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="cat1">Categoría 1</button>
            <button mat-menu-item>Categoría 2</button>
            </mat-menu>
            
            <mat-menu #cat1="matMenu">
                <button mat-menu-item >subcategoría 1</button>
                <button mat-menu-item >subcategoría 2</button>
                <button mat-menu-item >subcategoría 3</button>
                <button mat-menu-item>subcategoría 4</button>
                <button mat-menu-item>subcategoría 5</button>
              </mat-menu>
        </li>        
                         
            <li><button  routerLink='contact' mat-button>Contáctanos</button></li>
          <li><button routerLink='shoplist' mat-button><mat-icon>local_mall</mat-icon></button></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  </header><!-- header role="banner" -->
